<ng-container
  *ngIf="{
    contacts: contacts$ | async
  } as state"
>
  <div class="container-fluid">
    <div class="card my-5 p-3">
      <div class="d-flex justify-content-between">
        <h1 class="text-center">Contactos</h1>

        <button class="btn btn-primary" routerLink="/adsum/create-contact">
          <i class="bi bi-plus"></i> Add Contact
        </button>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre Completo</th>
          <th scope="col">Nombre Compañía</th>
          <th scope="col">Correo</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Categoría</th>
          <th scope="col">Mensaje</th>
        </tr>
      </thead>
      <tbody>
        @for (contact of state.contacts; track contact.email; let i = $index) {
        <tr>
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ contact.fullName }}
          </td>
          <td>{{ contact.companyName }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.phone }}</td>
          <td>{{ contact.category | category }}</td>
          <td>{{ contact.message }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</ng-container>
