<div class="container-fluid">
  <div class="card my-5 p-3">
    <div class="d-flex justify-content-between">
      <h1 class="text-center">Contactos</h1>

      <button class="btn btn-primary" routerLink="/adsum/create-contact">
        <i class="bi bi-plus"></i> Add Contact
      </button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Country</th>
        <th scope="col">Area</th>
        <th scope="col">Population</th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries; track country.name; let i = $index) {
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <img
            [src]="
              'https://upload.wikimedia.org/wikipedia/commons/' + country.flag
            "
            [alt]="'The flag of ' + country.name"
            class="me-2"
            style="width: 20px"
          />
          {{ country.name }}
        </td>
        <td>{{ country.area | number }}</td>
        <td>{{ country.population | number }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
